.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  width: 100%;
  position: fixed;
  z-index: 2;
  font-weight: bold;

  &__toggle-btn {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 20px;
    color: $white;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
    cursor: pointer;
  }

  ul {
    list-style: none;
  }

  &__logo {
    font-family: '맑은 고딕', sans-serif;
    font-size: 3.5rem;
  }

  &__search {
    input {
      font-size: 1rem;
      outline: 0;
      border-width: 0 0 2px;
      height: 2rem;
      width: 800px;
      margin-right: 1rem;
    }

    &__btn {
      border: none;
      cursor: pointer;
      background-color: transparent;
      font-size: 1.2rem;
    }

    @include atMobile {
      input {
        font-size: 0.8rem;
        margin-top: 1rem;
        width: 200px;
      }

      &__btn {
        font-size: 0.8rem;
      }
    }

  }

  &__items {
    display: flex;
    align-items: center;

    li {
      padding: 0 1rem;
      font-size: 1.5rem;
    }

    .dropdown {
      position: relative;
      /*display: inline-block;*/

      .dropdown__profile {
        text-align: center;
        &:hover {
          color: $secondary;
          cursor: pointer;
        }
      }

      .dropdown__content {
        display: none;
        position: absolute;
        padding: 5px;
        min-width: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        text-align: left;

        &__item {
          margin-bottom: 4px;
          cursor: pointer;
          font-size: 1rem;

          @include atMobile {
            text-align: center;
          }
        }
        .Link {
          font-size: 1rem;
        }

        &__logout:hover {
          color: $secondary;
          cursor: pointer;
        }
      }
    }

    .dropdown:hover .dropdown__content {
      display: flex;
      flex-direction: column;
    }
  }
}

.side {
  position: fixed;
  top: 7rem;
  left: 0;
  padding: 2rem 3rem;
  width: 15%;
  z-index: 2;
  font-weight: bold;

  ul {
    list-style: none;
  }
}

.side__list {
  margin-bottom: 1rem;
  width: 100%;
  margin-top: 2rem;

  .active {
    color: #FFCC33;
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__item {
    padding: 0.5rem;
    font-size: 15px;
    /*border-bottom: 3px solid;*/
  }
  &__item2 {
    padding: 0.5rem;
    font-size: 20px;
    border-bottom: 3px solid;
    border-bottom: 3px solid #FFCC33;
  }

  &__item:hover {
    color: #FFCC33;
    /*border-bottom: 3px solid #FFCC33;*/
  }

  &__itemline {
    padding: 0.5rem;
    font-size: 20px;
    border-bottom: 3px solid;
  }

}

@include atMobile {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.75rem 2rem;
    display: block;
    background-color: $dark;
    width: 100%;
    color: $white;

    a {
      color: $white;
    }

    .nav__logo {
      font-size: 1.5rem;
      display: block;
    }

    &__toggle-btn {
      display: block;
    }

    .nav__items {
      margin: auto;
      display: block;
      text-align: center;
      display: none;

      &-open {
        display: block;
      }

      li {
        margin: 1rem 0;
      }

      .dropdown {
        position: relative;

        &__content {
          position: relative;
        }
      }
    }
  }

  .side {
    position: static;
    padding: 0;
    width: 100%;
    height: 2.5rem;
    z-index: 2;
    font-weight: bold;
    margin-top: 3.5rem;

    ::-webkit-scrollbar {
      background-color: $scroll1;
      height: 0.2rem;
    }
    ::-webkit-scrollbar-track {
      background-color: $scroll2;
    }
    ::-webkit-scrollbar-thumb {
      background-color: $scroll3;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }

    ul {
      overflow-x: scroll;
      white-space: nowrap;

      li {
        display: inline-block;
      }

    }

    &__list {
      margin-bottom: 0;
      margin-top: 0;

      .active {
        color: #FFCC33;
      }

      button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }

      &__item {
        margin-right: 1rem;
      }

    }

  }

}
