.product__list {
  display: block;
  justify-content: center;
  margin-bottom: 1rem;
  position: fixed;
  margin-top: 8rem;

  .active {
    color: #ffcc33;
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__item {
    padding: 0.5rem;
    font-size: 15px;
    /*border-bottom: 3px solid;*/
  }
  &__item2 {
    padding: 0.5rem;
    font-size: 20px;
    border-bottom: 3px solid;
    border-bottom: 3px solid #ffcc33;
  }

  &__item:hover {
    color: #ffcc33;
    /*border-bottom: 3px solid #FFCC33;*/
  }

  &__itemline {
    padding: 0.5rem;
    font-size: 20px;
    border-bottom: 3px solid;
  }
}

.productList__title {
  font-size: 1.5rem;
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;

  @include atTablets {
    width: 50%;
  }

  &__box {
    /*width: 30%;*/
    font-size: 1.5rem;
    border-bottom: 1.5px solid;
  }
}

.rating span {
  /*margin: 0.1rem;*/
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .product {
    padding: 1rem;
    text-align: left;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 0.5rem;
    }
  }
  @include atTablets {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
    margin-left: 10%;
    margin-right: 5%;
    .product {
      padding: 0.2rem;
      font-size: 0.4rem;
    }
  }
  @include atMobile {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    .product {
      padding: 0.2rem;
      font-size: 0.4rem;
    }
  }
}
