.cart__title {
  margin-bottom: 1rem;
}

.cart__container {
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid $primary-color;

  & > * {
    flex-grow: 1;
    flex-basis: 0;
  }

  img {
    max-width: 100px;
    margin-bottom: 10px;
  }

  .cart__name {
    flex-grow: 2;
  }

  .btn {
    font-size: 0.6rem;
  }

}

.cart__content {
  margin-top: 40px;
  margin-bottom: 4rem;

  .cart__tot {
    margin-top: 10px;
    font-size: 1rem;
  }

  .btn {
    margin-top: 20px;
    width: 400px;
    height: 40px;
  }

}
