.cart__title {
  margin-bottom: 1rem;
}

.cart__container {
  padding: 1rem;
  align-items: center;
  margin-top: 10px;

  table, th, td {
    border: 1px solid $primary-color;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th {
    height: 50px;
  }
  &__img {
    margin-top: 10px;
  }
  &__content {
    text-align : left;
    margin-left: 10px;
  }

  &__a1 {
    width: 50px;
  }

  & > * {
    flex-grow: 1;
    flex-basis: 0;
  }

  img {
    max-width: 100px;
    margin-bottom: 10px;
  }

  .cart__name {
    flex-grow: 2;
  }

  .btn {
    font-size: 0.6rem;
  }

}

.cart__content {
  display: block;
  margin-top: 40px;
  margin-bottom: 4rem;
  justify-content: center;

  .cart__tot {
    margin-top: 10px;
    font-size: 1rem;
  }

  .btn {
    margin-top: 20px;
    width: 200px;
    height: 40px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    justify-content: center;

  }
  tr {
    height: 50px;
  }
}
