.common__title {
  font-family: '맑은 고딕', serif;
  font-size: 2rem;
}

.common__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;

  @include atMobile {
    /* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
      background: #ccc;
    }

		td {
			/* Behave  like a "row" */
			border: none;
			/*border-bottom: 1px solid #eee;*/
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

  }

  &__title {
    margin: 1rem 0;
    font-size: 2rem;
    margin: 2rem;
  }

  &__table {
    margin-top: 2rem;
    border-top: 1px solid #444444;
    border-collapse: collapse;

  }

  &__edit {
    color: $dark;
    background-color: $white;
  }

  caption {
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
  }

  td {
    padding-right: 2rem;
    border-bottom: 1px solid #444444;
    padding: 10px;
    font-size: 1rem;
  }
  th {
    padding-right: 2rem;
    border-bottom: 1px solid #444444;
    padding: 10px;
    font-size: 1rem;
    background-color: gray;
  }

  &__edit {
    color: $dark;
    background-color: $white;
  }

  button {
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 1px;
    border: 1px solid $dark;
  }
}

.common__form {
  display: flex;
  justify-content: center;
  text-align: center;

  @include atMobile {
    display: block;
    width: 100%;
    font-size: 0.8rem;
  }

  table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;

  }
  caption {
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
  input {
    height: auto;

    @include atMobile {
      display: block;
      width: 100%;
    }
  }
  select {
    width: 100%;
    height: auto;
  }
  &__join {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
  }

}
