.footer {
  /*position: absolute;*/
  justify-content: space-between;
  left: 0;
  bottom: 0;
  padding: 2rem 2rem;
  padding-left: 15%;
  width: 100%;
  background-color: $gray;
  color: $dark;
  font-size: 0.7rem;
  text-align: left;

  ul {
    display: flex;
    list-style: none;

    @include atMobile {
      display: block;
    }

    li {
      padding: 0 1rem;
      font-size: 0.8rem;
      padding-right: 10rem;
      font-family: '맑은 고딕', sans-serif;

      @include atMobile {
        padding: 0;
        margin-top: 1rem;
        padding-right: 0;
      }
    }
  }
}
