.form {
  display: flex;
  flex-direction: column;

  input {
    width: 500px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: 1px solid $primary;
  }

  &__title {
    /*margin-top: 3.8rem;*/
    font-family: '맑은 고딕', serif;
    font-size: 2rem;
  }

  &__content {
    margin: 1rem 0;

    &__upload {
      input {
        padding-top: 3px;
      }
    }

    &__subtitle {
      margin-top: 1rem;
    }

    &__comment {
      textarea {
        width: 400px;
        height: 80px;

        @include atMobile {
          width: 100%;
          height: 10%;
        }
      }
    }
  }

  &__checkout {
    &__content {
      margin-top:50px;
      margin-bottom:50px;
    }
  }

  &__order__nav {
    font-weight: 800;
    margin-bottom: 2rem;
    margin: 2rem;
    span {
      margin-right: 2rem;
    }

    &__disabled {
      color: $primary;
    }
  }

  &__order__content {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  &__btn {
    margin-top: 1rem;
  }

  &__table__container {
    margin-bottom: 4rem;
  }

  &__table {
    margin-top: 1.8rem;
    display: flex;
    justify-content: center;
  }

}
