.section {
  position: relative;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center center;

    &--intro1 {
      background-image: url('../../images/introimage1.jpg');
    }

    &--intro2 {
      background-image: url('../../images/introimage2.jpg');
    }

  }

  &__content {
    position: relative;
    align-items: center;
    text-align: center;
    color: $white;
    z-index: 10;
    display: flex;
    flex-direction: column;

    &__title {
      position: relative;
      font-size: 3rem;
      width: 100%;
      margin-left: 15%;
      margin-top: 10%;
      align-items: left;
    }

    a {
      width: 100px;
      color: $white;
      padding: 10px 0;
      margin-top: 1rem;
      border: 2px solid $white;
    }

  }

}

.intro__container {
  padding-left: 15%;
  text-align: center;
}
.intro_products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .product {
    padding: 1rem;
    text-align: left;
    width: 350px;
    border: none;

    img {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}
