.section {
  position: relative;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center center;

    &--intro1 {
      background-image: url("../../images/introimage1.jpg");
    }

    &--intro2 {
      background-image: url("../../images/introimage2.jpg");
    }
  }

  &__content {
    position: relative;
    align-items: center;
    text-align: center;
    color: $white;
    z-index: 10;
    display: flex;
    flex-direction: column;

    &__title {
      position: relative;
      font-size: 3rem;
      width: 100%;
      margin-left: 15%;
      margin-top: 10%;
      align-items: left;
    }

    a {
      width: 100px;
      color: $white;
      padding: 10px 0;
      margin-top: 1rem;
      border: 2px solid $white;
    }
  }
}

.intro__container {
  padding-left: 15%;
  text-align: center;

  @include atMobile {
    padding-left: 0;
    padding-bottom: 5%;
  }
}
.intro_products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .product {
    padding: 1rem;
    text-align: left;
    width: 350px;
    border: none;
    color: black;

    img {
      width: 100%;
    }
  }

  @include atTablets {
    grid-template-columns: repeat(3, 2fr);
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 5%;
    .product {
      padding: 0.2rem;
      width: 100%;
      font-size: 0.4rem;
    }
  }
  @include atMobile {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20%;
    .product {
      padding: 0.2rem;
      width: 90%;
      font-size: 0.4rem;
    }
  }
}
