.order {
  display: flex;
  padding: 1rem;

  button {
    width: 500px;
  }

  & > * {
    flex-grow: 1;
    flex-basis: 0;
  }

  &__title {
    text-align: start;
    margin: 2rem 0;
    border-bottom: 1px solid $primary;
  }

  &__content {
    text-align: start;
    margin-bottom: 2rem;
  }

  &__paypal__btn {
    max-width: 500px;
    margin: auto;
  }

  &__content__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $primary;

    img {
      max-width: 100px;
      margin: 1rem 0;
    }

    & > * {
      flex-grow: 1;
      flex-basis: 0;
    }

    &__name {
      flex-grow: 2;
    }
  }

  &__summary {
    margin-bottom: 2rem;

    span b {
      margin-right: 1rem;
    }

    &__title {
      margin: 2rem 0;
      color: $emphasis;
    }
  }
}
