.product__list {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .active {
    color: #FFCC33;
  }


  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__item {
    padding: 0.5rem;
    font-size: 20px;
    border-bottom: 3px solid;
  }
  &__item2 {
    padding: 0.5rem;
    font-size: 20px;
    border-bottom: 3px solid;
    border-bottom: 3px solid #FFCC33;
  }

  &__item:hover {
    color: #FFCC33;
    border-bottom: 3px solid #FFCC33;
  }

  &__itemline {
    padding: 0.5rem;
    font-size: 20px;
    border-bottom: 3px solid;
  }

  @include atMobile {
    flex-direction: column;
  }
}

.productList__title {
  font-size: 1.5rem;
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;

  &__box {
    width: 30%;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.8);
  }

  @include atMobile {
    font-size: 0.8rem;
    margin: 0 0 1rem 0;
  }

  @include atTablets {
    margin: 1rem 0;
  }
}

.rating span {
  /*margin: 0.1rem;*/
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .product {
    padding: 1rem;
    text-align: left;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 0.5rem;
    }
  }

  @include atMobile {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    .product {
      padding: 0.2rem;
      font-size: 0.4rem;
    }
  }

  @include atTablets {
    grid-template-columns: repeat(3, 1fr);
    .product {
      padding: 0.4rem;
      font-size: 0.6rem;
    }
  }
}
