// 색상
$success: #3ba961;
$danger: #d23430;
$warning: #f0ae4d;
$info: #219bcf;
$dark: #000;
$white: #fff;
$gray: #f9f9f7;
$light: #f4f4f4;
$primary: #b2b2b2;
$secondary: #666;
$hove: #555;
$emphasis: #f3885f;
